#01.Import Libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

#02.Import Data

In [2]:
#create path
path = ('/Users/juliewhitton/Desktop/Instacart Basket Analysis/')

In [3]:
#import orders_products_combined.pkl
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data/Prepared Data/orders_products_combined.pkl'))

In [4]:
#check shape of df
df_orders_products_combined.shape

(32434489, 11)

In [5]:
#drop _merge col
df_orders_products_combined = df_orders_products_combined.drop(columns = '_merge')

In [6]:
#import prods_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data/Prepared Data/prods_checked.csv'))

In [7]:
#check import
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
#check df_prods shape
df_prods.shape

(49672, 6)

In [9]:
#drop unnamed col
df_prods = df_prods.drop(columns = 'Unnamed: 0')

In [10]:
#check prods_checked for missing values
df_prods.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
prices           0
dtype: int64

In [11]:
#check df_orders_products_combined for missing values
df_orders_products_combined.isnull().sum()

order_id                        0
user_id                         0
eval_set                        0
order_number                    0
order_dow                       0
time_of_order                   0
days_since_prior_order    2078068
product_id                      0
add_to_cart_order               0
reordered                       0
dtype: int64

In [13]:
#merge dfs
df_orders_products_merged = df_orders_products_combined.merge(df_prods, on = ['product_id'], indicator = True)

In [14]:
#check merge for missing values
df_orders_products_merged.isnull().sum()

order_id                        0
user_id                         0
eval_set                        0
order_number                    0
order_dow                       0
time_of_order                   0
days_since_prior_order    2076096
product_id                      0
add_to_cart_order               0
reordered                       0
product_name                    0
aisle_id                        0
department_id                   0
prices                          0
_merge                          0
dtype: int64

In [15]:
#check merge
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [16]:
#check value counts of key column
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [17]:
#drop merge col
df_orders_products_merged.drop(columns = '_merge', inplace = True)

In [18]:
#shape of merged df
df_orders_products_merged.shape

(32404859, 14)

In [19]:
#export merged df
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data/Prepared Data/orders_products_merged.pkl'))