#01.Import Libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#create path
path = r'/Users/juliewhitton/Desktop/Instacart Basket Analysis/'

In [3]:
#import data
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
#create data subset
df = ords_prods_merged[:1000000]

In [5]:
df.shape

(1000000, 14)

#02.Construct If function

In [6]:
#construct price_label function
def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] >5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High-range product'
    else: 
        return 'Not enough data'

#03.Use price_label function

In [7]:
#use function
df['price_range'] = df.apply(price_label, axis = 1)

/var/folders/l0/y75wbnrd7r91nshng87h2x0m0000gn/T/ipykernel_46375/2457636735.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [8]:
#value frequency check
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [9]:
df['prices'].max()

14.8

#03.Using the loc() function

In [10]:
#construct condition statement using loc()
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/l0/y75wbnrd7r91nshng87h2x0m0000gn/T/ipykernel_46375/1627508011.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
#check value counts
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [14]:
#apply loc() function to entire df
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (ords_prods_merged['prices'] > 5), 
                        'price_range_loc'] = 'Mid-range product'
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [15]:
ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

#04.For Loops

In [16]:
#practice for loop
for x in range (30,45):
    print('My age is %d' %(x))

My age is 30
My age is 31
My age is 32
My age is 33
My age is 34
My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

In [18]:
###I'm redoing my tasks and need to update order_dow to order_day_of_week
ords_prods_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 15 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   time_of_order           int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  product_name            object
 11  aisle_id                int64
 12  department_id           int64
 13  prices                  float64
 14  price_range_loc         object
dtypes: float64(2), int64(10), object(3)
memory usage: 3.9+ GB

In [19]:
#drop unnecessary cols
ords_prods_merged.drop(columns = ['eval_set'])

,order_id,user_id,order_number,order_dow,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,Low-range product
32404855,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,Low-range product
32404856,758936,203436,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,Mid-range product
32404857,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,Mid-range product
32404858,3093936,205420,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,Mid-range product

In [21]:
ords_prods_merged.rename(columns = {'order_dow' : 'order_day_of_week'}, inplace = True)

In [22]:
#IC value counts for DOW
ords_prods_merged['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

In [37]:
#IC for loop to address DOW frequency
result = []

for value in ords_prods_merged ['order_day_of_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy day')
    else:
        result.append('Regularly busy')

In [38]:
#add new column (busiest_day) to df
ords_prods_merged['busiest_day'] = result

In [39]:
#check value counts
ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy day     3783802
Name: busiest_day, dtype: int64

#05.Task 4.7

In [43]:
#“Busiest day” to become “Busiest days” (plural). This label should correspond with 
#the two busiest days of the week as opposed to the single busiest day. At the same time, 
#they’d also like to know the two slowest days. Create a new column for this using a suitable method.

ords_prods_merged.loc[ords_prods_merged['order_day_of_week'] == 0, 'busiest_days'] = 'Busiest Days'
ords_prods_merged.loc[ords_prods_merged['order_day_of_week'] == 1, 'busiest_days'] = 'Busiest Days'

ords_prods_merged.loc[(ords_prods_merged['order_day_of_week'] == 3), 'busiest_days'] = 'Least Busy Days'
ords_prods_merged.loc[(ords_prods_merged['order_day_of_week'] == 4), 'busiest_days'] = 'Least Busy Days'
                                               
ords_prods_merged.loc[ords_prods_merged['order_day_of_week'] == 2, 'busiest_days'] = 'Regularly Busy Days'
ords_prods_merged.loc[ords_prods_merged['order_day_of_week'] == 5, 'busiest_days'] = 'Regularly Busy Days'
ords_prods_merged.loc[ords_prods_merged['order_day_of_week'] == 6, 'busiest_days'] = 'Regularly Busy Days'

In [44]:
#check value counts
ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regularly Busy Days    12916111
Busiest Days           11864412
Least Busy Days         7624336
Name: busiest_days, dtype: int64

Check the values of this new column for accuracy. Note any observations in markdown format.

I don't notice any issues with the new column.

In [45]:
#frequency of orders placed by hour
ords_prods_merged['time_of_order'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: time_of_order, dtype: int64

In [46]:
# Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” 
#Create a new column containing these labels called “busiest_period_of_day."

#for loop for busiest_period_of_day
result = []


for value in ords_prods_merged ['time_of_order']:
    if value in [9, 10, 11, 12, 13, 14, 15, 16]:
        result.append('Most orders')
    elif value in [7, 8, 17, 18, 19, 20, 21, 22]:
        result.append('Average orders')
    else:
        result.append('Fewest orders')

In [47]:
ords_prods_merged['busiest_period_of_day'] = result

In [48]:
#frequency count for busiest_period_of_day
ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

#This is the code I looked at to find the correct syntax. I tried the things you suggested and several of my own ideas to no avail!!

create a for-loop that append to the 'hours' list the busyness of the hours based on values in the 'order_hour_of_day' column
hours = []

for hour in df_ords_merged['order_hour_of_day']:
  if hour in [10, 11, 14, 15, 13, 12, 16, 9]:
    hours.append('Most orders')
  elif hour in [23, 6, 0, 1, 5, 2, 4, 3]:
    hours.append('Fewest orders')
  else:
    hours.append('Average orders')

In [49]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged.pkl'))